.content .table{
    width: 100%;
}

/*标题行*/
.content .table .title-tr{
    width: 100%;
    padding: 2px 0;
    background: #e3e6ec;
}
.content .table .title-tr div{
    display: inline-block;
    text-align: center;
}

/*内容行*/
.content .table .content-tr{
    width: 100%;
    padding: 7px 0;
    border-bottom: .5px solid #e3e6ec;
}
.content .table .content-tr div{
    display: inline-block;
    text-align: center;
}

.content .table .one{
    width: 20%;
}
.content .table .other{
    width: 14%;
}

.content .getMoreList{
    background: #e3e6ec;
    padding-left: 2px 0 2px 20px;
    text-align: center;
    color: #000000;
    cursor: pointer;
}
.content .getMoreList:hover{
    background: #9da8bd;
    color: #e3e6ec;
}