/*信息表基础样式*/
.content .filter{
    width: 100%;
    align-self: flex-start;
    margin-left: 20px;
    margin-top: 10px;
}
.content .filter label{
    padding-right: 20px;
    color: #9da8bd;
}

/*获取更多信息按钮样式*/
.content .getMore{
    width: 80%;
    height: 30px;
    margin: 20px 20px 60px 20px;
    padding-top: 13px;
    background: #e3e6ec;
    border-radius: 5px;
    border: 1px solid #e3e6ec;
    text-align: center;
    color: #9da8bd;
    cursor: pointer;
}
.content .getMore:hover{
    background: #9da8bd;
    color: #e3e6ec;
}
