<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>贵似晨星|卖家中心</title>
        <link rel="stylesheet" href="css/common.css">
        <link rel="stylesheet" href="css/info-form.css">
        <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
        <script src="https://cdn.staticfile.org/vue-resource/1.5.1/vue-resource.min.js"></script>
    </head>
    <body>
        <div id="app">
            <div class="headTop">
                <h1>贵似晨星|卖家中心</h1>
            </div>
            <div class="main-body">
                <div class="nav">
                    <div @click="showNav = 1">常用功能</div>
                    <transition name="choose-nav">
                        <ul v-if="showNav == 1">
                            <li @click="jump('commitAuction.html')">发布拍品</li>
                            <li @click="jump('myCommit.html')">拍品管理</li>
                        </ul>
                    </transition>
                    <div @click="showNav = 2">发货管理</div>
                    <transition name="choose-nav">
                        <ul v-if="showNav == 2">
                            <li>快捷发货</li>
                            <li @click="jump('myDeliver.html')">我的发货</li>
                        </ul>
                    </transition>
                    <div @click="showNav = 3">资金管理</div>
                    <transition name="choose-nav">
                        <ul v-if="showNav == 3">
                            <li @click="jump('moneyAll.html')">资金统计</li>
                            <li @click="jump('moneyDetail.html')">资金明细</li>
                        </ul>
                    </transition>
                </div>
                <div class="content">
                    <div class="info-form" v-if="!success">
                        <form @submit.prevent="onSubmit">
                            <div class="content-title">基础信息</div>
                            <div class="form-item">
                                <label>快递公司</label>
                                <select v-model="deliver.company">
                                    <option value="" selected disabled style="display: none;">请选择快递公司</option>
                                    <option 
                                        v-for="(option,index) in options1"
                                        :value="option.value"
                                        :key="index"
                                    >{{ option.name }}</option>
                                </select>
                            </div>
                            <div class="form-item">
                                <label>快递单号</label>
                                <input v-model="deliver.id">
                            </div>
                            <div class="form-item">
                                <label>寄件日期</label>
                                <input v-model="deliver.time" placeholder="例：2018-11-30">
                            </div>
                            <div class="form-item">
                                <label>选择拍品</label>
                                <input v-model="deliver.auctions" style="width:30%;" disabled>
                                <div class="editButton" @click="showChoose = !showChoose">{{editStatus}}</div>
                                <transition name="choose-box">
                                    <div class="chooseBox" v-if="showChoose">
                                        <ul>
                                            <li 
                                                v-for="(option, index) in options2" 
                                                :key="index"
                                                :title="option.name">
                                                <input type="checkbox" :value="option.id" @change="chooseAuctions($event)"> 
                                                <span>{{option.id}} — {{option.name.substr(0,7)}}</span>
                                            </li>
                                        </ul>
                                    </div>
                                </transition>
                            </div>
                            <button class="submitButton">提交</button>
                        </form>
                    </div>
                    <div class="successMessage" v-if="success">
                        <div class="message">
                            <img src="img/success.png" style="height:60px; width:60px;">
                            发布成功,信息审核中...
                        </div>
                        <div class="control">
                            <button class="lookInfo" @click="jump('myCommit.html')">查看信息</button>
                            <button class="commitAgain" @click="reset">再发一条</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script src="js/quickDeliver.js"></script>
    </body>
</html>